* {
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
	font-size: 1rem;
}

/*Estilo Body*/

body{
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	color: #292929;
}

/*Estilo del Header*/
h1{
  text-align: center;
  font-size: 4rem;
}

/*Estilos del Menu de Navegacion*/

.encabezado__menu ul {
    text-align: center;
  }

.encabezado__menu ul li {
list-style: none;
padding: 1rem;
display: inline-block;

}

li a{
color: #292929;
text-decoration: none;
}

a:hover{
	font-size: 1.1rem;
	background-color: rgb(245, 173, 223);
	text-decoration: none;
	border-radius: 0.4rem;
	color: #292929;
}

i{
	font-size: 2rem;
    margin: 0.5rem;
}

/*Estilo Cuerpo Principal*/
	main{
		padding: 0 1.1rem;	
	}

	/*Estilo de Productos*/
	
	.container{
		margin: 1rem;
	}

	.producto img{
		margin: 10px;
		border-color: blueviolet;
		width: 15rem;
		height: 15rem;
	}

	.producto img:hover{
		transform: scale(1.1);
		
	}

	h3.producto__titulo{
		text-align: center;
		font-size: 1rem;
		font-style: italic;
	}
		
	.producto.items{
		align-items: center;
		size: 0.25rem;
	}

	  
	span.producto__precio {
		color: #FF4E00;
		text-align: auto;
	}

	.producto__icon{
		display: flex;
		color: rgb(102, 48, 88);
		size: 0.1 rem;
		justify-content: center;
	}


	/*Estilos Pie de Pagina*/

	.footer{
		background-color: #dab7f0;
		margin: 0.5 rem;
		padding: 0.5 rem;
	
	}

	.fab:hover{
		transform: scale(1.5);
	}

	div.p-2{
		align-self: center;
	}

	div.p-2 h4{
		font-size: 1rem;
	}

	
	/*Estilo pagina Nuevos*/

	.card{
		margin: 2rem;
	}
	
	.card-img-top{
		width: 100%;
	}

	.btn-primary:hover{
		background-color: rgb(247, 151, 218);
		color: blue;
	}

	a.btn{
	background-color: rgb(245, 173, 223);
	font-size: 1rem;
	border-radius: rgb(83, 25, 61);
	color: brown;
	}

	/*Estilo Preguntas*/

	.contenedor__preguntas{
		margin: 20px;
		padding: 20px;
		}

	.preguntas{
		margin: 20px;
		display: flex;
		line-height: 1.5;
		flex-direction: column;	
	}

	.titulo{
		color: rgb(54, 18, 54);
		font-size: 1.5 rem;

	}

	.titulo ol li{
		text-align: justify;
		list-style: none;
		
	}

	/*Formulario Contacto*/

	.formulario{
		display: flex;
		margin: 1.5rem;
		padding: 1.5rem;
		border-color: rgb(111, 15, 201);
		justify-content: center;
		text-align: center;
	}

	form {
		position: relative;	  
		width  : 740px;
		height : 498px;
		margin : 0 auto;
	  }
	  

	  .carousel img{
		object-fit: cover;
	    object-position: center;
	    height: 70vh;
	  }
	