
 //variables//
 $size: 1rem;
 $color: #292929;

 //Mixins//
 @mixin box{
    display: flex;
    justify-content: center;
 }

 * {
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
	font-size: size;
    list-style:none 
 }

 /*Estilo Body*/

 body{
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	color: $color;
}

/*Estilo del Header*/
h1{
    text-align: center;
    font-size: $size*4;
    font-size: italic;
  }
  
  /*Estilos del Menu de Navegacion*/

  .encabezado__menu{
      background-color: #CE97B0 ;
      ul{
        li {
          a {
              color: $color;
              font-size: $size;             
            &:hover {
                background-color: rgb(248, 191, 231);
                color: #6F4C5B;
                border-radius: $size+0.2;
            }
         }          
        }
    }   
  }  

i{
    font-size: $size*2;
    margin: 0.5rem;
}

/*Estilo Cuerpo Principal*/
main{
    padding: 0 1.1rem;	
}

/*Estilo de Productos*/
	
	.container{     
        .row {
            @include box;
            padding: $size;
                .producto__img{
                    width: auto;
                    margin: 10px;
                    padding: $size;
                    border-color: blueviolet;
                    width: $size*15;
                    height: $size*15;
                    &:hover{
                        transform: scale(1.1); 
                    }
                }
                .producto__icon{
                    display: flex;
                    color: rgb(102, 48, 88);     
                
                }
                h3.producto__titulo{
                    text-align: center;
                    font-size: $size;
                    font-weight: bold;
                }
                span.producto__precio {
                    color: #FF4E00;
                } 
            }
          }            
        	/*Estilos Pie de Pagina*/
            .footer {
                background-color: #CE97B0;
                justify-content: space-evenly;
                align-items: center;
                color: $color;
                margin: 0.5rem;
                padding: 0.5 rem;
                .row{
                    margin: 10px;
                }
              
                .footer__titulo{
                    size: 1.5rem;
                    padding-top: 3rem;
                    margin-left: 0.3rem;
                }
            .footer__iconos{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
             }
            }
            .fab {
                &:hover {
                    transform: scale(1.5);
                }
            }
            div.p-2 {
                align-self: center;
                h4 {
                    font-size: $size;
                }
            }
           

            /*Estilo Marcas*/
        
            .slide{
                margin-top: $size;
                width: inherit;
                height: inherit;
            
                img{
                    width: 100%;
                    object-fit: cover;
            }
        }


            /*Estilo Nuevos*/
            .contenedorNuevos {
                display: flex;
                flex-direction: column;
                align-items:center;
                justify-content: center;   
                padding: $size;
                margin: $size;
                 .card {
                   margin: $size;
                   .card-title{
                    text-align: center;
                 }
                  .card-text{
                    margin: 1.2rem;
                    padding: 1rem;
                    text-align: justify;
                }
                .btn-primary{
                    display: block;
                    border: 2px solid #FF4E00;
                    padding: 10px;
                    text-align: center;
                    text-decoration: none;
                    width: 150px;
                    margin: 20px auto;
                    background-color: rgb(245, 173, 223);
                    font-size: $size;
                    border-radius: rgb(83, 25, 61);
                    color: brown;
                    border: transparent;
                    &:hover {
                        background-color: rgb(247, 151, 218);
                        color: blue;
                    }
                }
                 }
               }

           

            /*Estilo preguntas*/
            #contenedor__preguntas {
                display: flex;
                justify-content: center;
                margin: 20px;
                padding: 20px;
            }
            .preguntas {
                margin: 20px;
                display: flex;
                line-height: 1.5;
                flex-direction: column;
            }
            .titulo {
                color: rgb(54, 18, 54);
                font-size: $size*1.5;
                ol {
                    li {
                        text-align: justify;
                        list-style: none;
                    }
                }
            }

            /*Estilo Formulario*/
            .formulario {
                @include box;
                margin: 1.5rem;
                padding: 1.5rem;
                border-color: rgb(111, 15, 201);
            form {
                position: relative;
                width: 740px;
                height: 498px;
                margin: 0 auto;
            }
        }
            
           

	 
 		 


