
 //variables//
 $size: 1rem;
 $color: #292929;

 //Mixins//
 @mixin box{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 * {
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
	font-size: size;
    list-style:none 
 }

 /*Estilo Body*/

 body{
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	color: $color;
}

/*Estilo del Header*/
h1{
    text-align: center;
    font-size: $size*4;
  }
  
  /*Estilos del Menu de Navegacion*/

  .encabezado__menu{
      ul{
        li {
          a {
            &:hover {
                font-size: $size;
                background-color: rgb(245, 173, 223);
                border-radius: $size/2;
                color: $color;
            }
         }          
        }
    }   
  }  

i{
    font-size: $size*2;
    margin: 0.5rem;
}

/*Estilo Cuerpo Principal*/
main{
    padding: 0 1.1rem;	
}

/*Estilo de Productos*/
	
	.container{
        display: flex;
        align-items: center;
            .producto img{
                margin: 10px;
                border-color: blueviolet;
                width: $size*15;
                height: $size*15;
                &:hover{
                    transform: scale(1.1); 
                }
             }
             .producto__icon{
                display: flex;
                color: rgb(102, 48, 88);
                size: 0.1 rem;
            }
            h3.producto__titulo{
                text-align: center;
                font-size: $size;
                font-style: italic;
            }
            span.producto__precio {
                color: #FF4E00;
                text-align: auto;
            }
     }
                         
        	/*Estilos Pie de Pagina*/
            .footer {
                background-color: #dab7f0;
                margin: 0.5 rem;
                padding: 0.5 rem;
            }
            .fab {
                &:hover {
                    transform: scale(1.5);
                }
            }
            div.p-2 {
                align-self: center;
                h4 {
                    font-size: 1rem;
                }
            }

            /*Estilo Marcas*/
            .carousel {
                margin: auto;
                img {
                    object-fit: cover;
                    object-position: center;
                    height: 70vh;
                }
            }

            /*Estilo Nuevos*/
            .card {
                margin: 2rem;
            }
            .card-img-top {
                width: 100%;
            }
            .btn-primary {
                &:hover {
                    background-color: rgb(247, 151, 218);
                    color: blue;
                }
            }
            a.btn {
                background-color: rgb(245, 173, 223);
                font-size: 1rem;
                border-radius: rgb(83, 25, 61);
                color: brown;
            }

            /*Estilo preguntas*/
            .contenedor__preguntas {
                margin: 20px;
                padding: 20px;
            }
            .preguntas {
                margin: 20px;
                display: flex;
                line-height: 1.5;
                flex-direction: column;
            }
            .titulo {
                color: rgb(54, 18, 54);
                font-size: 1.5 rem;
                ol {
                    li {
                        text-align: justify;
                        list-style: none;
                    }
                }
            }

            /*Estilo Formulario*/
            .formulario {
                display: flex;
                margin: 1.5rem;
                padding: 1.5rem;
                border-color: rgb(111, 15, 201);
                justify-content: center;
                text-align: center;
            form {
                position: relative;
                width: 740px;
                height: 498px;
                margin: 0 auto;
            }
        }
            
           

	 
 		 


